/* root divs */

#main-root {
	display: flex;
	flex-direction: column;
}

#root-div {
    background-color: var(--grey-trans);
	display: block;
	width: 100%;
	/* min-width: 35rem; */
	font-size: 48px;
	/* padding: 1rem; */

	height: calc(100vh - 2rem);
	overflow-y: scroll;
}

/* Buttons */

.buttons-container{
	z-index: 10;
	width: 100%;
    display: flex;
    background-color: var(--grey-trans);
	height: 2rem;
}

.button {
    padding: 0.2rem;
    margin: 0.3rem;
    background-color: var(--grey-trans);
    flex-grow: 1;
    font-size: 0.8rem;
    color: var(--white-subtle);
    transition: 0.4s;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
	text-align: center;
}

.button.menu {
	flex-grow: unset;
}

.button:hover {
    color: var(--class-color-bright);
    background-color: var(--class-color-trans);
}

.button.today {
    border: 0.3rem solid var(--blue-color-trans);
    padding: 0.1rem;
    color: var(--blue-color);
}