/* root divs */

#main-root {
	display: flex;
	flex-direction: column;
}

#root-div {
    background-color: var(--grey-trans);
	display: block;
	width: 100%;
	/* min-width: 35rem; */
	font-size: 48px;
	/* padding: 1rem; */

	height: calc(100vh - 3rem);
	overflow-y: scroll;
}

/* Buttons */

.buttons-container{
	z-index: 10;
	width: 100%;
    display: flex;
    background-color: var(--grey-trans);
	height: 2rem;
}

.button {
    padding: 0.2rem;
    margin: 0.3rem;
    background-color: var(--grey-trans);
    flex-grow: 1;
    font-size: 0.8rem;
    color: var(--white-subtle);
    transition: 0.1s;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
	text-align: center;
}

.button.menu {
	flex-grow: unset;
}

.button:hover {
    color: var(--class-color-bright);
    background-color: var(--class-color-trans);
}

.button.today {
    border: 0.1rem solid var(--blue-color-trans);
    padding: 0.1rem;
    color: var(--blue-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#root-div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#root-div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.version {
	width: 100%;
	text-align: center;
	color: var(--class-color-trans);
	background-color: var(--grey-trans);
	box-sizing: border-box;
	border: 0.1rem solid var(--grey-trans);
	height: 1rem;
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
