:root {
	--class-color: #a0ffc0;
	--class-color-bright:#7bffa7;
	--class-color-trans: #afc1;
	--blue-color: #70abe6;
	--blue-color-trans: #7bf3;
	--break-color: #9d3d3d;
	--break-color-bright: #f99;
	--break-color-dark: #7b2e2e;
	--break-color-trans: #6003;
	--end-color: var(--blue-color);
	--start-color: var(--class-color);
	--grey-trans: #0006;
	--white-subtle: #beccc0;
}

@font-face {
    font-family: myFont;
    src: url("https://d-t-666.github.io/time-table/fonts/bpg_glaho_sylfaen.ttf");
}

body {
	margin: 0;
	/* padding: 1rem; */
	background-color: #333;
}
