#root-div {
	flex-direction: row;
	/* flex-wrap: nowrap; */
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.table-container {
	display: block;
	width: 100%;
	height: fit-content;
	flex: 0 0 auto;
	scroll-snap-align: start end;
	scroll-snap-stop: always;
}

/* Time line */

.time-line-block {
	display: flex;
	position: relative;
	/* box-sizing: border-box; */
	background-color: var(--grey-trans);
	padding: 0;
	z-index: 1;
	font-family: myFont;
	border-radius: 1.6rem;
	margin: 0.7rem;
	box-shadow: 0 0.2rem 1rem var(--shadow-color);

	transition: 0.4s;
	overflow: hidden;
}

.class {
	background-color: var(--class-block-background);
	color: var(--class-text);
}

.break {
	background-color: var(--class-block-background);
	background-image: repeating-linear-gradient(
		30deg,
		var(--block-background),
		var(--block-background) 0.6rem,
		var(--break-block-background) 0.6rem,
		var(--break-block-background) 1rem
	);
	transition: 0.4s;
	background-size: 400% 500%;
	animation: linear gradient 256s infinite;
}
.long.break {
	height: 6rem;
}
.short.break {
	height: 2rem;
}
@keyframes gradient {
	0% {
		background-position: 0 -2.8rem;
	}
	100% {
		background-position: -4.849rem 0;
	}
}

.time-line-container {
	display: block;
	width: 0;
	margin: 0;
	padding: 0;
	max-width: 20%;
	transition: 0.4s;
}

.time-line {
	display: block;
	margin: 0;
	width: 100%;
	height: 0%;
	box-sizing: border-box;
	transition: 0.4s;

	border-right: 0.4rem solid var(--time-line);

	background-image: repeating-linear-gradient(
		30deg,
		var(--time-line),
		var(--time-line) 0.4rem,
		var(--block-background) 0.4rem,
		var(--block-background) 1rem
	);
	background-size: 400% 400%;
	animation: linear gradient 12s infinite;
	border-radius: 0;
}

.today > .time-line-block > .time-line-container {
	width: 20%;
}

@keyframes gradient {
	0% {
		background-position: 0 -1.73205rem;
	}
	100% {
		background-position: -1rem 0;
	}
}

.active.short.break {
	height: 4rem;
}
.active.time-line-block > .time-line-container > .time-line {
	background-image: repeating-linear-gradient(
		30deg,
		var(--time-line-active),
		var(--time-line-active) 0.4rem,
		var(--block-background) 0.4rem,
		var(--block-background) 1rem
	);
	border-right: 0.4rem solid var(--time-line-active);
	border-bottom: 0.4rem solid var(--time-line-active);
	border-radius: 0 0 1.4rem 0;
}
.active.time-line-block > .class-description > .class-timers > .timer-left {
	display: block;
}
.active.time-line-block > .class-description > .class-name {
	color: var(--class-text-highlight);
}

.class-description {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	padding: 0.6rem 1rem;
}

.class-name {
	font-size: 1.9rem;
	font-family: myFont;
	flex-grow: 1;
	text-decoration: underline;
}

.class-timers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.timer {
	display: block;
	justify-content: center;
	padding: 0;
	/* margin: 0 0.5rem; */
	font-size: 1.4rem;
	font-family: numFont;
}

.timer-start {
	color: var(--timer-start-text);
}

.timer-end {
	color: var(--timer-end-text);
}

.timer-left {
	color: var(--block-background);
	background-color: var(--timer-live-text);
	display: none;
	padding: 0.3rem 0.6rem;
	border-radius: 0.8rem;
}

.break > .class-description {
	justify-content: center;
	align-items: center;
}
.break > .class-description > .class-timers {
	justify-content: center;
	align-items: center;
}
.break > .class-description > .class-timers > .timer-left {
	/* background-color: var(--block-background); */
	padding: 0.3rem 0.6rem;
	border-radius: 0.8rem;
	opacity: 0;
	transition: 0.4s;
}
.active.break > .class-description > .class-timers > .timer-left {
	display: block;
	opacity: 1;
}

.timer > p {
	margin: 0;
	padding: 0;
}
