.table-container {
	flex-direction: column;
	align-items: center;
}

.table-container.today > .time-line-block > .time-line-container {
	width: 20%;
}

/* Time line */

.time-line-block {
	display: flex;
	position: relative;
	/* box-sizing: border-box; */
	background-color: var(--grey-trans);
	padding: 0;
	z-index: 1;
	font-family: myFont;
	border-radius: 1.6rem;
	margin: 0.7rem;
	box-shadow: 0 0.2rem 1rem var(--shadow-color);

	transition: 0.4s;
	overflow: hidden;
}

.class {
	background-color: var(--class-block-background);
	color: var(--class-text);
}

.break {
	background-color: var(--class-block-background);
	background-image: repeating-linear-gradient(
		30deg,
		var(--block-background),
		var(--block-background) 0.6rem,
		var(--break-block-background) 0.6rem,
		var(--break-block-background) 1rem
	);
	transition: 0.4s;
	background-size: 400% 500%;
	animation: linear gradient 256s infinite;
}
@keyframes gradient {
	0% {
		background-position: 0 -2.8rem;
	}
	100% {
		background-position: -4.849rem 0;
	}
}

.time-line-container {
	display: block;
	width: 0;
	margin: 0;
	padding: 0;
	max-width: 20%;
}

.time-line {
	display: block;
	margin: 0;
	width: 100%;
	height: 0%;
	box-sizing: border-box;
	transition: linear 1s;

	border-right: 0.4rem solid var(--time-line-border);

	background-image: repeating-linear-gradient(
		30deg,
		var(--time-line-color),
		var(--time-line-color) 0.4rem,
		var(--block-background) 0.4rem,
		var(--block-background) 1rem
	);
	background-size: 400% 200%;
	animation: linear gradient 11s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 -2.8rem;
	}
	100% {
		background-position: -4.849rem 0;
	}
}

.active.time-line-block > .time-line-container > .time-line {
	border-bottom: 0.4rem solid var(--time-line-border);
	border-radius: 0 0 1.4rem 0;
}
.active.time-line-block > .class-description > .class-timers > .timer-left {
	display: block;
}
.active.time-line-block > .class-description > .class-name {
	color: var(--class-text-highlight);
}

.class-description {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	padding: 0.6rem 1rem;
}

.class-name {
	font-size: 1.9rem;
	font-family: myFont;
	flex-grow: 1;
	text-decoration: underline;
}

.class-timers {
	display: flex;
	justify-content: space-between;
}

.timer {
	display: block;
	justify-content: center;
	padding: 0;
	/* margin: 0 0.5rem; */
	font-size: 1.4rem;
	font-family: numFont;
}

.timer-start {
	color: var(--timer-start-text);
}

.timer-end {
	color: var(--timer-end-text);
}

.timer-left {
	color: var(--timer-live-text);
	display: none;
}

.timer > p {
	margin: 0;
	padding: 0;
}
