.class .details {
	/* flex-shrink: 1; */
	transition: max-height .2s ease, opacity .2s ease;
	opacity: 0;
	max-height: 0px;
	position: relative;
	overflow: hidden;
}
.expanded.class .details {
	transition: max-height .4s ease, opacity .4s ease;
}

.class .details div {
	background-color: var(--dark-4);
	padding: 1px .8rem;
	border-radius: .6rem;
	margin: .4rem 0rem;
}

.class .details p {	
	margin: 1ch 0;
	padding: 0;
	text-align: left;
}

@media only screen and (max-width: 395px) {
	.class .details p {
		font-size: 85%;
	}
}
@media only screen and (max-width: 330px) {
	.class .details p {
		font-size: 75%;
	}
}

.details .key {
	background-color: var(--green);
	color: var(--white);
	padding: .2rem .2rem .2rem .3rem;
	font-size: 90%;
	border-radius: 100vmin;
	font-weight: 900;
	vertical-align: baseline;
}

.details .key.r {
	background-color: var(--red);
}
.details .key.o {
	background-color: var(--orange);
}
.details .key.g {
	background-color: var(--green);
}
.details .key.b {
	background-color: var(--blue);
}