#root-div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.35rem;
}

/* Day table */
.table {
	font-family: myFont;
	color: var(--week-table-text);

	flex-grow: 1;
	box-sizing: border-box;
	min-width: 30%;
	/* height: 14rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	background-color: var(--week-table-background);
	box-shadow: 0 0.2rem 1rem var(--shadow-color);
	margin: 0.35rem;
	border-radius: 1.6rem;
}

@media only screen and (orientation: portrait) {
	/* For mobile phones: */
	[class*="table"] {
		width: 50%;
	}
}

/* title */
.table > .title {
	font-size: 2rem;
	margin: 1rem;
	text-decoration: underline;
}

.table.today > .title {
	color: var(--week-table-highlight);
	text-decoration: underline;
}

/* list */
.table > .list {
	margin: 0 1rem 1rem 1rem;
}

.table > .list > .item {
	font-size: 1.1rem;
	margin: 0.4rem 0;
}

.table > .list > .item.now {
	color: var(--week-table-highlight);
}
