.homework-page {
	display: block;
	// display: flex;
	// flex-direction: column;
	// align-items: stretch;

	.homework-list {
		overflow-y: scroll;
		color: var(--dark);
		align-self: stretch;

		// border: 2px solid red;
		
		.flex {
			display: flex;
		}

		.class-section {
			h1, h3 {
				font-weight: normal;
				margin: 0;
				margin-bottom: .8rem;
				font-family: myFont;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			h1 { font-size: 2rem; }
			h3 { margin-left: .4rem; }

			.indicator {
				font-size: 1.2rem;
				justify-self: flex-end;
				text-align: center;
				color: var(--dark-2);
				font-weight: 700;
				font-family: numFont;
		
				span {
					vertical-align: sub;
				}
			}

			padding: 1rem;
			.day-section {
				padding: .8rem;
				padding-right: .4rem;
				// padding-bottom: 1.4rem;

				.note {
					.content {
						height: fit-content
					}
				}
			}

			&.expanded {
				background-color: var(--white-2);
			}

			.notes {
				transition: max-height 400ms ease;
				overflow-y: scroll;

				max-height: 0rem;
				&.expanded {
					animation: none;
					max-height: 40rem;

					.list {
						padding: 0;
					}
				}

				border-left: 1px solid var(--dark-3);
				border-bottom: 1px solid var(--dark-3);
				border-radius: 0 0 0 1rem;
			}
		}
	}

	.homework-creation {
		flex-shrink: 0;
		position: sticky;
		bottom: 0;
		overflow-y: scroll;
		color: var(--dark);
		// height: auto;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		form {
			border-radius: 1rem 1rem 0 0;
			background-color: var(--white);
			box-sizing: border-box;
			border-bottom: none;
			display: flex;
			flex-direction: column;
			padding: 1rem;
			
			textarea {
				font-size: 1rem;
				color: var(--dark);
				border: 2px solid var(--dark-1);
				border-radius: .6rem;
				background-color: transparent;
				outline: none;
			}

			.options {
				margin-top: .4rem;
				// display: flex;
				text-align: right;
				justify-content: space-between;

				td {
					// border: 1px solid white;
				}

				select, input {
					margin: .2rem;
					font-size: rem;
					padding: .5rem;
					border-radius: 2rem;
					outline: none;
					color: var(--dark);
					background-color: transparent;
					border: none;
					// border: 1px solid var(--dark-4);
				}

				select {
					&.p1 {
						color: var(--dark);
					}
					&.p2 {
						color: var(--green);
					}
					&.p3 {
						color: var(--blue);
					}
					&.p4 {
						color: var(--orange);
					}

					option {
						color: var(--dark);
					}
				}

				input[type="date"] {
					width: 16ch;
				}
			}
		}
	}

	// &.creating {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: space-between;
	// 	justify-content: center;
	// }
}

.create-note {
	display: flex;
	justify-content: center;
	position: sticky;
	bottom: 1.5rem;
	z-index: 0;
	div {
		flex-shrink: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3rem;
		padding: 1rem;
		border-radius: 100%;
		// color: var(--white);
		background-color: var(--white-1);
		color: var(--blue);
		border: 2px solid var(--blue);

		svg {
			fill: currentColor;
			width: 1.6rem;
			height: 1.6rem;
		}
	}
}