.nav-bar {
	z-index: 20;
	display: flex;
	box-sizing: content-box;
	min-height: var(--navbar-height);
	height: var(--navbar-height);
	overflow-x: auto;
	/* overflow-y: hidden; */
	padding: 0rem;
	margin: 0;

	-ms-overflow-style: none;
	scrollbar-width: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white-2);
	border-top: 1px solid var(--dark-4);

	li {
		width: 1px;
		flex-grow: 1;
		height: 100%;
	}

	.nav-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		/* flex-grow: 1; */
		/* background-color: var(--white); */
		box-sizing: border-box;
		padding: .4rem .8rem 0rem .8rem;
		font-size: .9rem;
		font-family: myFont;
		color: var(--dark);
		text-decoration: none;
		/* font-weight: 700; */
		-webkit-tap-highlight-color: transparent;

		svg {
			width: 1.6rem;
			height: 1.6rem;
			fill: currentColor;
		}

		&.active {
			color: var(--orange);
		}
	}
}