.week-day-bar {
	display: flex;
	position: sticky;
	top: 0;
	overflow-x: auto;
	flex-direction: row;
	padding: .4rem .6rem;
	margin: 0;
	min-height: var(--day-bar-height);
	height: var(--day-bar-height);
	flex-grow: 0;
	align-items: center;
	-ms-overflow-style: none;
	scrollbar-width: none;
	border-bottom: 1px solid var(--dark-4);
	z-index: 30;
	// background-color: var(--white-2);
}

.week-day-bar li {
	list-style: none;
	padding: .2rem;
	margin: 0 .2rem;
	border-radius: 100rem;
	
	a {
		font-family: myFont;
		padding: .6rem .8rem;
		text-decoration: none;
		color: var(--dark);
		font-size: 1rem;
		-webkit-tap-highlight-color: transparent;
	}
}

.week-day-bar li.active {
	box-sizing: border-box;
	// border: 2px solid var(--blue);
	background-color: var(--dark);

	a {
		color: var(--white);
		font-size: 1.2rem;
	}
}