:root {
	--navbar-height: 4rem;
	--home-button-bar-height: 0rem;

	/* Colors */

	/* Presets */
	--dark: #86756d;
	--red: #e66375;
	--orange: #ff7a51;
	--green: #009c56;
	--blue: #8081d8;
	--white: #f7e9d5;
	/* transparent */
	--dark-1: #86756daa;
	--dark-2: #86756d66;
	--dark-3: #86756d22;
	--dark-4: #86756d11;
	--green-1: #98e6b0aa;
	--green-2: #98e6b066;
	--green-3: #98e6b022;
	--green-4: #98e6b011;
	--orange-1: #ff7a51aa;
	--orange-2: #ff7a5166;
	--orange-3: #ff7a5122;
	--orange-4: #ff7a5111;
	--blue-1: #8081d8aa;
	--blue-2: #8081d866;
	--blue-3: #8081d822;
	--blue-4: #8081d811;

	/* Week tables */
	--week-table-text: var(--dark);
	--week-table-background: var(--white);
	--week-table-highlight: var(--blue);

	/* Blocks */
	--block-background: var(--white);
	--block-text: var(--dark);
	--class-block-background: var(--white);
	--class-text: var(--dark);
	--class-text-highlight: var(--orange);
	--break-block-background: var(--blue);
	--break-text: var(--blue);
	--shadow-color: var(--dark-3);

	/* Buttons */
	--button-background: var(--white);
	--button-text: var(--dark);
	--orange-button-background: var(--orange);
	--orange-button-text: var(--white);
	--green-button-background: var(--green);
	--green-button-text: var(--white);
	--blue-button-background: var(--blue);
	--blue-button-text: var(--white);

	/* Timers */
	--timer-start-text: var(--dark);
	--timer-end-text: var(--dark);
	--timer-live: var(--green);
	--timer-live-pre-active: var(--red);

	--total-time-text: var(--dark);
	--total-time-background: transparent;

	/* Timeline */
	--time-line-active: var(--green);
	--time-line: var(--dark);

	/* Version stamp */
	--version-text: var(--dark);

	/* Background color */
	--body-background: #e4d2b8;
}

.dark-theme {
	/* Presets */
	--dark: #ddd6d4;
	--red: #e4264f;
	--green: #51bb8b;
	--white: #27282e;
	/* transparent */
	--dark-1: #ddd6d4aa;
	--dark-2: #ddd6d466;
	--dark-3: #ddd6d422;
	--dark-4: #ddd6d411;
	--green-1: #98e6b0aa;
	--green-2: #98e6b066;
	--green-3: #98e6b022;
	--green-4: #98e6b011;
	--orange-1: #ff7a51aa;
	--orange-2: #ff7a5166;
	--orange-3: #ff7a5122;
	--orange-4: #ff7a5111;
	--blue-1: #8081d8aa;
	--blue-2: #8081d866;
	--blue-3: #8081d822;
	--blue-4: #8081d811;

	/* Week tables */
	--week-table-text: var(--dark);
	--week-table-background: var(--white);
	--week-table-highlight: var(--blue);

	/* Blocks */
	--block-background: var(--white);
	--block-text: var(--dark);
	--class-block-background: var(--white);
	--class-text: var(--dark);
	--class-text-highlight: var(--orange);
	--break-block-background: var(--blue-1);
	--break-text: var(--blue);
	--shadow-color: transparent;

	/* Buttons */
	--button-background: var(--white);
	--button-text: var(--dark);
	--orange-button-background: var(--orange);
	--orange-button-text: var(--white);
	--green-button-background: var(--green);
	--green-button-text: var(--dark);
	--blue-button-background: var(--blue);
	--blue-button-text: var(--white);

	/* Timers */
	--timer-start-text: var(--dark);
	--timer-end-text: var(--dark);
	--timer-live: var(--green);
	--timer-live-pre-active: var(--red);

	--total-time-text: var(--dark);
	--total-time-background: transparent;

	/* Timeline */
	--time-line-active: var(--green);
	--time-line: var(--dark);

	/* Version stamp */
	--version-text: var(--orange);

	/* Background color */
	--body-background: #1d1d22;
}

/* @supports (-webkit-touch-callout: none) {
	@media only screen and (min-height: 650px) {
		:root {
			--home-button-bar-height: 1rem;
		}
	}
} */

@font-face {
	font-family: myFont;
	src: url("https://d-t-666.github.io/time-table/fonts/bpg_glaho_sylfaen.ttf");
}

@font-face {
	font-family: numFont;
	src: url("https://d-t-666.github.io/cxrili/fonts/SourceCodePro-Medium.ttf");
}

body {
	margin: 0;
	background-color: var(--body-background);
	transition: 0.4s;
}
